.navigation-header {
  flex: 1;
  flex-direction: row-reverse;
  user-select: none;
}
nav > [data-react-toolbox="button"] {
  padding: 0;
}
.button-arrow {
  min-width: 3.8rem;
}
.button-new {
  min-width: 7rem;
}
